<header>
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
	<a class="homeLink" href="index.php">
		<span>後台管理系統</span>
	</a>
   <div class="bshd_right">
		<ul class="dpdown">
			<li class="dp_txt">Welcome, 管理者</li>
			<li class="button-dropdown">
				<a href="javascript:void(0)" class="dropdown-toggle">
					<i class="fa fa-user" aria-hidden="true"></i> <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				</a>
				<ul class="dropdown-menu" style="display: none;">
					<li>
						<a href="/login.php">
							<i class="fa fa-sign-out" aria-hidden="true"></i>登出
						</a>
					</li>
				</ul>
			</li>
			
		</ul>
	</div>
</header>