<!-------月曆------->
<!--<link href="css/jquery-ui.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
<style>
	.form-inline .form-control.custom-file-upload {
		border: 1px solid #ccc;
		padding: 6px 12px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}
	.wrap-input-container {
		display: inline-block;
		position: relative;
		overflow: hidden;
		top: 14px;
	}
	.wrap-input-container input {
		position: absolute;
		font-size: 400px;
		opacity: 0;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.ui-corner-all{
		z-index: 10 !important;
	}		
</style>