<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
	<aside>
		<div id="sub">
			<ul>
				<li><a href="/index">資訊看板</a></li>
				<li class="has-sub " ><a href=" # ">人員管理</a>
					<ul>
						<li class="" >
							<a class="" href="/employee/list">人員管理</a>
						</li>
						
					</ul>
				</li>
				<li class="has-sub " ><a href=" # ">會議管理</a>
					<ul>
						<li class="" >
							<a class="" href="/meeting/list ">會議管理</a>
						</li>
						
					</ul>
				</li>
				<li><a href="/logout">登出</a></li>
			</ul>
		</div>
	</aside> 
</div>