{% include "includeBtn/header.html"%}
{% include "./btn_search.html"%}
<div class="item_data">
	<div class="div-table rwd-table">
		<div class="div-tr infoDataBox ">
			<div id="css-table" class="css-table">
				<div class="thead">
					<div class="tr">
						<div class="th">no</div>
						<div class="th">建檔日</div>
						<div class="th">代號</div>
						<div class="th">名稱</div>
						<div class="th">帳號</div>
						<div class="th">行動</div>
						<div class="th">刪除</div>
					</div>
				</div>
				
				<div class="tbody">
					{% if results %} 
						{% for row in results %}
					<a class="tr click">
						<div class="td a"	data1="1" data-th="編號"	>{{row.Eid}}</div>
						<div class="td a"	data1="1" data-th="建檔日"	>{{row.NDate|date:"Y-m-d"}}</div>
						<div class="td a"	data1="1" data-th="代號"	>{{row.EmpNo}}</div>
						<div class="td a"	data1="1" data-th="名稱"	>{{row.Name}}</div>
						<div class="td a"	data1="1" data-th="帳號"	>{{row.Account}}</div>
						<div class="td a"	data1="1" data-th="行動"	>{{row.Mobile}}</div>
						<div class="td del"	data1="1" data-th="刪除"	><span style="color: red;cursor: pointer;">刪除</span></div>
					</a>
						{% endfor %}
					{% else %}
					<a class="tr click">
						<div class="td a"	data1="1" data-th="">{{nodata}}</div>
					</a>
					{% endif %}
				</div>
			</div>
		</div>						
	</div>
	<div class="container-fluid insidePage">
		
	</div>
</div>
{% include "includeBtn/footer.html"%}			